@font-face {
    font-family: 'Coolvetica', sans-serif;
    src: url(../fonts/coolvetica/coolvetica.ttf);
}

body {
    line-height:1.333;
}

.navbar {
    height:80px;
    font-family: 'Coolvetica', sans-serif;
    margin:0;
    border-radius: 0;
    background-color: #db5b67;
}

.navbar-nav {
    font-size:1.3em;
    height:80px;
}

.navbar-collapse .navbar-nav.navbar-right:last-child
.navbar-nav.navbar-right:last-child {
    margin-right:0;
}
.menu {
    margin-right:100px;
}

.navbar-inverse .navbar-nav > li > a{
    margin:15px 0;
    font-size: 1.17em;
    font-weight:100;
}

.navbar-inverse .navbar-nav > li > button{
    background-color: #b84c56;
    padding:2px 10px;
    margin:25px 10px;
    border-radius: 5px;
}

.navbar-inverse .navbar-nav > li > button:hover,
.navbar-inverse .navbar-nav > li > button:focus {

}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:visited{
    transition: all 0.5s ease 0.25s;
    color: #ecf0f1;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
    color: #ddd;
}

.navbar-inverse .navbar-brand .logo {
    width:80px;
    margin:-7px;
}

.navigation {
    height:40px;
    margin:0;
    padding:10px 0 5px;
    background-color:#ecf0f1;
}

.home {
    background:url('../img/home-bg.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    background-size: cover;
    padding: 0;
    position:relative;
}
.concept {
    max-width:520px;
    width:100%;
    margin:100px auto;
    padding: 25px 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    float:right;
}

.description {
    max-width:520px;
    width:100%;
    margin:100px auto;
    padding: 25px 50px;
    color: black;
    float:right;
}

.product-preview {
    width:250px;
    text-align: center;
    margin:100px auto;
    float:left;
}

.wrap {
    margin-bottom:40px;
}

.login {
    padding:38px 0;
    background:0;
    color:black;
}

h1, h2, h3{
    margin-top:0;
    text-transform: uppercase;

}

.btn-reset {
    padding: 0;
    border: 0;
    background: transparent;
}

.btn-primary {
    width:170px;
    color:#fff;
    background-color:#db5b67;
    margin:20px auto;
    border-radius:5px;
    text-align: center;
    border-bottom:3px solid #b84c56;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color:#b84c56;
    border-bottom:3px solid #db5b67;
}
.checkbox input.custom-checkbox[type="checkbox"]:checked + .icons .icon-checked, .radio input.custom-checkbox[type="checkbox"]:checked + .icons .icon-checked, .checkbox input.custom-radio[type="radio"]:checked + .icons .icon-checked, .radio input.custom-radio[type="radio"]:checked + .icons .icon-checked {
    color: #db5b67;
}
.form-group.focus .form-control, .form-control:focus, .form-group.focus .select2-search input[type="text"], .select2-search input[type="text"]:focus{
    border-color:#b84c56;
}

footer {
    width:100%;
    height:30px;
    padding:5px 0;
    position:fixed;
    bottom:0;
    text-align:center;
    border-top:2px solid black;
    color:black;
    background-color: #c8c8c8;
}

footer a,
footer a:visited {
    color:black;
}

footer a:hover,
footer a:focus {
    text-decoration: underline;
    color:black;
}