@font-face {
    font-family: 'Coolvetica', sans-serif;
    src: url(../fonts/coolvetica/coolvetica.ttf);
}

body {
    line-height:1.333;
}

.navbar {
    font-family: 'Coolvetica', sans-serif;
    margin:0;
    border-radius: 0;
    background-color: #db5b67;
}
/*
.navbar .menu {
    width: 500px;
    height:36px;
    margin: 25px auto;
    padding:2px 0;
    text-align: center;
    border-top:2px solid black;
    border-bottom:2px solid black;
}

.navbar .menu ul {
    font-size:0;
    margin:0;
    padding:0;
}

.navbar .menu ul li {
    width:125px;
    margin:0;
    padding:0;
    display:inline-block;
    font-size:20px;
}

.navbar .menu ul li a {
    color: black;
}
*/



.navigation {
    height:40px;
    margin:0;
    padding:10px 0 5px;
    background-color:#ecf0f1;
}

.home {
    background:url('../img/home-bg.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    background-size: cover;
    padding:20px 0;
    position:relative;
}
.container {
    max-width:520px;
    width:100%;
    margin:100px auto;
    padding: 25px 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    float:right;
}

.product-preview {
    width:250px;
    text-align: center;
    margin:100px auto;
    float:left;
}

.wrap {
    margin-bottom:40px;
}








h1, h2, h3{
    margin-top:0;
    text-transform: uppercase;

}

.btn-reset {
    padding: 0;
    border: 0;
    background: transparent;
}

.btn-primary {
    width:170px;
    color:#fff;
    background-color:#db5b67;
    margin:20px auto;
    border-radius:5px;
    text-align: center;
    border-bottom:3px solid #b84c56;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color:#b84c56;
    border-bottom:3px solid #db5b67;
}

.form-group.focus .form-control, .form-control:focus, .form-group.focus .select2-search input[type="text"], .select2-search input[type="text"]:focus{
    border-color:#b84c56;
}

footer {
    width:100%;
    height:30px;
    padding:5px 0;
    position:fixed;
    bottom:0;
    text-align:center;
    border-top:2px solid black;
    color:black;
    background-color: #c8c8c8;
}

footer a,
footer a:visited {
    color:black;
}

footer a:hover,
footer a:focus {
    text-decoration: underline;
    color:black;
}

